version: "3.9"

services:
  api:
    image: vitoriarx/api-multicontainer:latest
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/meubanco
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=meubanco
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
